/* 
Project: Small responsive CSS grid framework 
Author: Mike Rusczyk / mike@ofad.org / http://hideawaylights.com/mike-rusczyk/
*/

* { /* optional reset / remove if you like */
	margin: 0;
	padding: 0;
}

.column-container {
	overflow: hidden;
}
		
/* ----- columns ----- */		
	
	.column-container .item {
		float: left;
		margin: 1.2195121951219513%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
		
	.column-container.column-2.anchor-left .item {
		float: right;
		width: 64.22764227642277%;
	}	
		
		.column-container.column-2.anchor-left .item:first-child {
			float: right;
			width: 30.89430894308943%;
		}
			
	.column-container.column-2.anchor-right .item {
		width: 64.22764227642277%;
	}			
	
		.column-container.column-2.anchor-right .item:first-child {
			width: 30.89430894308943%;
		}

	.column-container.column-1 .item {
		width: auto;
		float: none;
	}			

	.column-container.column-2 .item {
		width: 47.560975609756095%;
	}

	.column-container.column-3 .item {
		width: 30.89430894308943%;
	}

	.column-container.column-4 .item {
		width: 22.560975609756098%;
	}
			
@media only screen and (max-width: 768px) { /* ----- tablets and below ----- */
	
		.column-container.column-2.anchor-left .item, .column-container.column-2.anchor-right .item {
			float: none !important;
			width: auto !important; 
		}
	
		.column-container.column-3 .item {
			float: none;
			width: auto; 
		}
	
		.column-container.column-4 .item {
			float: none;
			width: auto; 
		}

}

@media only screen and (max-width: 480px) { /* ----- small devices ----- */
	
	.column-container {
		padding: 0 1.2195121951219513%;
	}
	
		.column-container .item {
			float: none !important;
			width: auto !important; 
		}

}	